.main {
    flex: 1 1 auto;
    display: block;
    /* position: inherit; */
    min-height: 81.8%;
}

.sidenav {
    width: 200px;
    position: absolute;
    /* margin-top: 60px; */
    min-height: 100%;
}

.sidenav i {
    padding-right: 10px;
}

.content {
    padding: 16px;
    overflow: unset;
}